.home {
  padding: 0 10px;
  padding-bottom: 100px;
}
.hero {
  max-width: 600px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.hero h1 {
  font-size: max(4vw, 36px);
}
.hero p {
  width: 75%;
  /* font-size: max(2px, 14px); */
  color: #e3e3e3;
  line-height: 1.5;
}
.hero form {
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.hero input {
  /* border: none; */
  flex: 1;
  border: none;
  outline: none;
  padding-left: 10px;
}
.hero button {
  border: none;
  background-color: #7927ff;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.table {
  max-width: 800px;
  margin: auto;
  background: linear-gradient(rgba(84, 3, 255, 0.25), rgba(105, 2, 153, 0.15));
  border-radius: 15px;
}
.table-layout {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #3c3c3c;
}
.market-cap {
  text-align: right;
  margin: 10px;
}
.table-layout .green {
  color: green;
  text-align: center;
}
.table-layout .red {
  color: red;
  text-align: center;
}
@media (max-width: 768px) {
  .table-layout {
    grid-template-columns: 0.5fr 3fr 1fr 1fr;
    font-size: 12px;
  }
  .market-cap {
    display: none;
  }
}
@media (max-width: 500px) {
  .hero input {
    width: 100px;
  }
}
