.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  color: #ddd;
  border-bottom: 2px solid #3c3c3c;
  position: relative;
}
img {
  width: 50px;
  cursor: pointer;
}
ul {
  display: flex;
  gap: 40px;
  list-style: none;
  /* Добавляем эти свойства: */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
li {
  cursor: pointer;
}
.nav-right {
  display: flex;
  gap: max(1vw, 12px);
}
.nav-right select {
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid white;
  background: transparent;
  color: #ddd;
  cursor: pointer;
}
.nav-right option {
  background-color: #09005c;
  color: white;
  cursor: pointer;
}
.nav-right button {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
@media (max-width: 900px) {
  .navbar {
    padding: 20px 8%;
  }
  .navbar button {
    padding: 8px 18px;
  }
}
@media (max-width: 760px) {
  .navbar {
    padding: 20px 5%;
  }
  .navbar button {
    padding: 8px 18px;
  }
  ul {
    display: none;
  }
}
