@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  min-height: 100vh;
  color: white;
  background: linear-gradient(#0b004e, #1b152f, #002834);
}
